@media only screen and (min-width: 1309px) {
    *
    body {
        background-color: rgb(224, 205, 188);
        /* Additional CSS properties for background customization */
        background-size: cover; /* Adjust as needed */
        background-position: center; /* Adjust as needed */
        background-repeat: no-repeat; /* Adjust as needed */
        /* Add any other styles you want for the body */
    }
    
    #interactiveIcon {
        position: relative;
        width: 350px;
        bottom: 3rem;
        left: 0.250rem;
        transition: transform 0.3s ease-in-out;
    }

    #interactiveIcon:hover {
        transform: scale(1.1);
        top: -3rem;
        width: 290px;
        content: url('talking\ icon\ bg\ removed.gif'); /* Change the image source to your new image */
        padding: 2.5rem;
        background: url('1.mp3') no-repeat; /* Change the sound file path */
    }

    .headerr{
        display: none;
    }

    .header {
        position: fixed;
        top: 8.9%; /* Center vertically */
        left: 50%; /* Center horizontally */
        transform: translate(-50%, -50%); /* Center both horizontally and vertically */
        border: 1.3px solid black;
        text-align: center;
        padding: 0.500rem 5rem;
        width: 50%;
        background-color: rgb(241, 231, 214);
        z-index: 4;
        border-left: 2px solid black;
        border-right: 2px solid black;
     
    }
    
    .header h1 {
        position: relative;
        bottom: 1rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border: 1.3px solid black;
        background-color: white;
        border-left: 2px solid black;
        border-right: 2px solid black;
        

    }

    
    .header h3 {
        position: relative;
        bottom: 20px;
        font-size: 15px;    
        display: flex;
        flex-direction: row; /* Change from column to row */
        justify-content: center;
}
.burger-menu{
    display: none;
}

.socials ul {
    border: 1.3px solid black;
    position: fixed;
    top:21%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    list-style: none;
    display: flex;
    text-align: center;
    padding: 2rem 5.0155rem;
    width: 50%;
    margin: 0 auto;
    background-color: rgb(241, 231, 214);
    z-index: 4;
    cursor: pointer;
    border-left: 2px solid black;
    border-right: 2px solid black;
}


.socials li {
    border: 1.3px solid black;
    font-weight: bold;
    position: relative;
    padding: 10px 40px;
    text-decoration: none;
    transition: transform 0.1s ease;
    background-color: #ffff;
   
}

.socials li:hover {
    transform: scale(1.1);
    z-index: 1;
}


/* Removing default link styling */
.socials a {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: black;
}
.main {
    position: relative;
    border: 1.3px solid black;
    text-align: center;
    padding: 15rem 5rem;
    width: 50%;
    margin: 0 auto;
    margin-top: 7vw;
    bottom: 50%;
    text-decoration: none;
    background-color: rgb(241, 231, 214);
    border-left: 2px solid black;
    border-right: 2px solid black;
    
}
.main ul{
    position: relative;
    gap: 0;
    bottom: 15.8rem;
    padding: 8px;
    display: flex;
    left: 0;
    right: 0;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    border: 1.3px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    

    
}
.main ul li{
    position: relative;
    left: 0;
    right: 0;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border: 1.3px solid black;
    align-items: center;
    
}
.main ul img{
  
   background-color: rgb(234, 226, 226);
    position: relative;
    padding: 0.500rem 0.500rem;
    right: 0rem;
    border: 1.3px solid black;
    width: 2vw;
    text-decoration: none;
    z-index: 2;
    width: 25px; /* Set the width of the social media icons */
    height: 25px; /* Set the height of the social media icons */
    margin: 2px; /* Add some margin between the icons (adjust as needed) */
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.main ul li img:hover{
    transform: scale(1);
    border: 3px solid white;
    background-color: rgb(255, 244, 244);
  }
  .main h1 {
    
   position: relative;
    font-size: 1rem;
    margin-top: -2%;
  }
  .main img{
    position: relative;
     width: 45%;
     height: auto ;
     margin-top: -20%;
     cursor: pointer;


  }
  .main img:hover{
    transform: scale(1.030);
  }
  .language-buttons{
    position: relative;
    left: 0.200rem;
  }
  
  .about{
    position: relative;
    border: 1.3px solid black;
    text-align: center;
    padding: 2rem 5rem;
    width: 50%;
    margin: 0 auto;
    background-color: rgb(241, 231, 214);
    border-left: 2px solid black;
    border-right: 2px solid black;
    

  }
  .aboutbuttons ul{
    position: relative;
    gap: 10px;
    top: 1rem;
    padding: 2px;
    display: block;
    left: 0;
    right: 0;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    margin-left: 200px;
    margin-right: 200px;
    list-style: none; /* Remove default list-style (bullets/numbers) */
    padding: 0; /* Remove default padding */
    
}
.aboutbuttons ul li{
    background-color: #eee;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1.3px solid black;
    border-radius: 3px;
    padding: 15px;
    transition: transform 0.1s ease-in-out;
    cursor: pointer;
    margin: 10px;
    margin-right: 10px; /* Adjust spacing between li elements */
    
    
    
  }
  .aboutbuttons ul li:hover{
    transform: scale(1.1);

  }
  .aboutbuttons ul li a {
    text-decoration: none; /* Remove underline from links */
    color: black; /* Set the text color to black */
}
  #aboutimage{
    position: relative;
    margin-top: 0.200rem;
    width: 300px;
    transition: transform 0.3s ease-in-out;
    filter: brightness(1.2) saturate(0.7);
   

  }
  #aboutimage:hover{
    padding: 10.3px;
    top: 1rem;
    width: 280px;
    left: -10px;
    content: url('hover\ about\ me.gif'); /* Change the image source to your new image */
    background: url('1.mp3') no-repeat; /* Change the sound file path */
    cursor: pointer;

  }
  
  .art{
      
    border: 1.3px solid black;
    text-align: center;
    padding: 21rem 5rem;
    width: 50%;
    margin: 0 auto;
    background-color: rgb(241, 231, 214);
    border-left: 2px solid black;
    border-right: 2px solid black;
  }

  
.art ul{
    position: relative;
    justify-content: center;
        list-style: none;
        display: flex;
        text-align: center;
        padding: 1rem 0rem;
        width: 50%;
        border-bottom: none;
        border-top: none;
        margin: 0 auto;
        cursor: pointer;
}
.art ul li{
    border: 1.3px solid black;
    font-weight: bold;
    position: relative;
    padding: 10px 20px;
    text-decoration: none;
    transition: transform 0.1s ease;
    background-color: #ffff;
    bottom: 13rem;
   
}
.art ul li:hover {
    transform: scale(1.1);
    z-index: 1;
}
.art a {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: black;
}
.art .gallery {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    bottom: 10rem;
    justify-content: center;

}

.art .gallery img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 2px;
    transition: transform 0.3s ease;
    border: 1.3px solid black;
    
}
.art .gallery img:hover {
    transform: scale(1.1);
    border: 2px solid white;
}

.art .gallery img[data-year="2023"] {
    display: none;
}


.shop{
    border: 1.3px solid black;
    border-top: none;
    padding: 21rem 5rem;
    margin: 0 auto;
    width: 50%;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.shop h1{
    text-align: center;
    font-size: 1.4rem;
}
.services{
    background-color: rgb(241, 231, 214);
    position: relative;
    border: 1.3px solid black;
    border-top: none;
    padding: 7rem 5rem;
    margin: 0 auto;
    width: 50%;
    border-left: 2px solid black;
    border-right: 2px solid black;
    

}
.services ul{
    position: relative;
    justify-content: center;
    list-style: none;
        display: flex;
        text-align: center;
        padding: 1rem 0rem;
        width: 50%;
        border-bottom: none;
        border-top: none;
        margin: 0 auto;display: flex;
}
.services ul li{
    border: 1.3px solid black;
    margin: 1rem;
    font-weight: bold;
    position: relative;
    padding: 7rem 4rem;
    text-decoration: none;
    transition: transform 0.1s ease;
    background-color: #ffff;
    cursor: pointer;
    border-radius: 5px;
   
}
#PatreonBtn{
    width: 1000px;
    font-size: 2rem;
}
.services ul li:hover {
    transform: scale(1.1);
    z-index: 1;
}
.services a {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: black;

}

.contact {
    border: 1.3px solid black;
    text-align: center;
    padding: 6rem 5rem;
    width: 50%;
    margin: 0 auto;
    background-color: rgb(241, 231, 214);
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.contact ul{

    width: 75%;
    margin: 0 auto;
    margin: 9%;
    margin-bottom: -2%;
}
.contact h1 {
    
    font-size: 46px;
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: -4%;
    padding: 2rem;
}

.contact p {

    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 2rem;
    color: rgb(0, 0, 0);
}
.contact form {
    border: 1.3px solid black;
    background: transparent;
    padding: 10px; /* Adjust padding as needed */
    width: 60%;
    height: 100%;
    margin: 0 auto; /* Center horizontally */
    box-sizing: border-box; /* Include padding in the width calculation */
}


.contact label {
    display: block;.contact form {
    border: 1.3px solid black;
    background: transparent;

    padding: 10px; /* Adjust padding as needed */
    width: 60%;
    height: 100%;
    margin: 0 auto; /* Center horizontally */
    box-sizing: border-box; /* Include padding in the width calculation */
}

    margin-bottom: 0.5rem;
    color: #040b0e;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
    width: 70%;
    padding: 0.7rem;
    margin-bottom: 1.5rem;
    border: 1.3px solid black;
    border-radius: 5px;
}

.contact button {
    width: 65%;
    background-color: #007bff;
    color: white;
    height: 40px;
    padding: 0.5rem 5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact button:hover {
    background-color: #f8f4f5;
    color: rgb(204, 168, 168);
}

/* Placeholder text styles */
.contact input::placeholder,
.contact textarea::placeholder {
    font-style: italic;
    color: #ff0000;
}

/* Centered text within the form */
.contact form p {
    text-align: center;
}

.contact-descp p {

    position: relative;
    color: white;
    font-size: 16px;
    left: 800px;
    bottom:  500px;
    max-width: 440px;
}
.footer{
    border: 1.3px solid black;
    border-top: none;
    padding: 3rem 5rem;
    margin: 0 auto;
    width: 50%;
    background-color: rgb(241, 231, 214);
    border-left: 2px solid black;
    border-right: 2px solid black;

}
.footer h1{
    text-align: center;
    font-size: 1.4rem;

}
.shop{
    background-color: rgb(241, 231, 214);
}
.shop-button{
    border: none;
    text-align: center;
    padding: 0.5rem 5rem;
    width: 50%;
    margin: 0 auto;
    border-top: none;
   
}
.shop-button h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px; 
    color: #333; 
    margin: 0; 
}
.shop-button ul{
    position: relative;
    justify-content: center;
        list-style: none;
        display: flex;
        text-align: center;
        padding: 1rem 0rem;
        width: 50%;
        border-bottom: none;
        border-top: none;
        margin: 0 auto;
        cursor: pointer;
}
.shop-button li {
    border: 1.3px solid black;
    font-weight: bold;
    position: relative;
    padding: 10px 52px;
    text-decoration: none;
    transition: transform 0.1s ease;
    background-color: #ffff;
}
.shop-button li:hover {
    transform: scale(1.1);
    z-index: 1;
}
.shop-button a {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: black;
}
.shop ul li{
    border: 1.3px solid black;
    font-weight: bold;
    position: relative;
    padding: 10px 52px;
    text-decoration: none;
    transition: transform 0.1s ease;
    background-color: #ffff;
    bottom: 13rem;
}
.spacermain {
    background-color: rgb(83, 79, 72);
    border: 1.3px solid black;
    position: relative;
    top: 8.4vw;
    text-align: center;
    padding: 1rem 5rem;
    width: 50%;
    margin: 0 auto;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.moving-text {
    color: white;
    position: absolute;
    right: 97%; /* Start position outside the container */
    animation: moveText 5s linear infinite; /* Adjust the duration as needed */
    z-index: 4;
    top: 80px;
    font-size: 30px;

}

@keyframes moveText {
    to {
        right: 0%; /* Move the text to the left end of the container */
    }
}
.spacer{
    background-color: rgb(241, 231, 214);
    border: 1.3px solid black;
    text-align: center;
    padding: 0.5rem 5rem;
    width: 50%;
    margin: 0 auto;
    border-top: none;
    border-bottom: none;
    border-left: 2px solid black;
    border-right: 2px solid black;
  }
  .spacerabout{
    border: 1.3px solid black;
    text-align: center;
    padding: 0.5rem 5rem;
    width: 50%;
    margin: 0 auto;
    border-top: none;
    background-color: rgb(241, 231, 214);
    border-bottom: none;
    border-left: 2px solid black;
    border-right: 2px solid black;
  }

  .spacershop{
    border: 1.3px solid black;
    text-align: center;
    padding: 0.5rem 5rem;
    width: 50%;
    margin: 0 auto;
    border-top: none;
    background-color: rgb(241, 231, 214);
    border-left: 2px solid black;
    border-right: 2px solid black;
 
  }
  .spacerservices{
    border: 1.3px solid black;
    text-align: center;
    padding: 0.5rem 5rem;
    width: 50%;
    margin: 0 auto;
    border-top: none;
    background-color: rgb(241, 231, 214);
    border-left: 2px solid black;
    border-right: 2px solid black;
    
  }
  .spacercontact{
    border: 1.3px solid black;
    text-align: center;
    padding: 0.5rem 5rem;
    width: 50%;
    margin: 0 auto;
    border-top: none;
    background-color: rgb(241, 231, 214);
    border-left: 2px solid black;
    border-right: 2px solid black;
    
  }
  .footer{
    border: 1.3px solid black;
    text-align: center;
    padding: 0.5rem 5rem;
    width: 50%;
    margin: 0 auto;
    border-top: none;
    background-color: rgb(241, 231, 214);
    border-left: 2px solid black;
    border-right: 2px solid black;

  }
  /* Add this style to your existing CSS */
.image-preview-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 5;
  }
  
  .image-container {
    position: relative;
  }
  
  #previewImage {
    width: 100vmin; /* Use vmin to ensure the image fits within the viewport */
    height: 95vmin; /* Use the same value as width to maintain a 1:1 aspect ratio */
    max-width: none; /* Remove the maximum width constraint */
    max-height: none; /* Remove the maximum height constraint */
     margin: 0 auto;
    display: block;
    border: 1.3px solid black;
  }
  
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 8px 12px;
    background-color: #fff;
    border: 1.3px solid black;
    cursor: pointer;
  }
  .language-buttons {
    text-align: center;
    margin-top: 10px; /* Adjust the margin as needed */
}

.language-buttons ul {
    list-style: none;
    padding: 0;
}

.language-buttons li {
    display: inline-block;
    margin-right: 10px; /* Adjust the margin between buttons as needed */
    cursor: pointer;
    border: 1.3px solid black;
    padding: 5px 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.language-buttons li:hover {
    background-color: #eee; /* Change background color on hover */
}
#englishContent {
    position: relative;
    bottom: 4rem;
    left: 0.250rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

#englishContent h1 {
    /* Add any additional styles for the h1 element here */
    font-size: 0.8rem; /* Adjust the font size as needed */
    line-height: 1.5; /* Adjust the line height as needed */
    color: #333; /* Adjust the text color as needed */
    /* Add more styles as per your design */
}
#japaneseContent{
    position: relative;
    bottom: 4rem;
    left: 0.250rem;

}
#japaneseContent h1{
     /* Add any additional styles for the h1 element here */
     font-size: 0.8rem; /* Adjust the font size as needed */
     line-height: 1.5; /* Adjust the line height as needed */
     color: #333; /* Adjust the text color as needed */
     /* Add more styles as per your design */
}
.shopping {
    position: fixed;
    right: 16px;
    top: 60px;
    
  }
  
  .shopping img {
    width: 30px; /* Set a fixed width for the image */
    height: 30px; /* Set a fixed height for the image */
    transition: transform 0.3s ease-in-out; /* Add a smooth transition on hover */
  }
  
  .shopping img:hover {
    transform: scale(1.1); /* Scale the image slightly on hover */
  }
  #collaborationFormContainer{
    z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(255, 255, 255);
        color: black;
        padding: 100px;
        border: 2px solid black;
        width: 400px; /* Set the desired width */
        height: 200px; /* Set the desired height */
        border: 2px solid black;
        display: none;
  }
  #collaborationFormContainer h2{
    margin-top: -50px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
  }
  #collaborationFormContainer h3{
    font-size: 0.900rem;
    margin: 5px;
}
#collaborationFormContainer h1{
    font-size: 1.5rem;
    margin: 50px;
    
}
    #commissionFormContainer {
        
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(255, 255, 255);
        color: black;
        padding: 100px;
        border: 1.3px solid black;
        width: 400px; /* Set the desired width */
        height: 200px; /* Set the desired height */
        display: none;
    }
    #commissionFormContainer h2{
        margin-top: -50px;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    #commissionFormContainer h3{
        font-size: 0.900rem;
        margin: 5px;
    }
    #commissionFormContainer h1{
        font-size: 1.5rem;
        margin: 50px;
        
    }
    .form-section h1{
        border: 1.3px solid black;
        border-radius: 5px;
        transition: transform 0.1s ease-in-out;
        padding: 0.9000rem;
        margin: 20px;
    }
    .form-section h1:hover{
        transform: scale(1.1);
    }
    .form-section h3{
        border: 1.3px solid black;
        border-radius: 5px;
        transition: transform 0.3s ease-in-out;
        padding: 0.500rem;
        margin: 20px;
      
    }
    .form-section:hover{
        transform: scale(1.0300);
    }
    
    #commissionFormContainer button {
        cursor: pointer;
        background-color: #333;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 10px;
        margin-left: 10px;
    }

    #commissionFormContainer button:hover {
        background-color: #555;
    }


    .form-container {
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        color: black;
        padding: 100px;
        border: 2px solid black;
        width: 400px; /* Set the desired width */
        height: 300px; /* Set the desired height */
        border: 1.3px solid black;
        display: none;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
    }

    .form-container button {
        cursor: pointer;
        background-color: #333;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 10px;
        margin-left: 10px;
    }

    .form-container button:hover {
        background-color: #555;
    }

.form-container button:hover {
    background-color: #555;
}


.form-section {
text-align: center;
}
.form {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 700px; /* Adjust the maximum width as needed */
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    z-index: 1; /* Ensure the form appears above other elements */
    border: 1.3px solid black;
}

.textbox {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
}

.aboutbuttons ul {
    list-style-type: none;
    padding: 0;
}

.aboutbuttons li {
    cursor: pointer;
    margin: 10px;
}
#aboutMeForm{
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#aboutWorksForm{
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#perspectiveGoalsForm{
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#aboutWebsiteForm{
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

}
